# SPDX-FileCopyrightText: 2021-2022 Raphaël Doursenaud <rdoursenaud@free.fr>
# SPDX-License-Identifier: MIT

# Import the board's minimal requirements
-r requirements-circuitpython.txt

circuitpython-stubs
